<div class="boxes">
  <form
    class="form"
    #register="ngForm"
    action="#"
    (ngSubmit)="submitForm(register)"
  >
    <div class="form-head">Employee Payroll Form</div>
    <div class="row-content">
      <label for="name" class="label text">Name</label>
      <input
        (input)="onInput($event)"
        [(ngModel)]="obj.name"
        type="text"
        class="input"
        id="name"
        name="name"
        placeholder="Your name.."
        required
        ngModel
      />
      <span class="error-output">{{ this.nameError }}</span>
    </div>
    <div class="row-content">
      <label for="profile" class="label text">Profile image</label>
      <div class="profile-radio-content">
        <label>
          <input
            type="radio"
            id="profile1"
            name="profile"
            value="\assets\Ellipse -1.png"
            required
            ngModel
          />
          <img
            src="..\assets\Ellipse -1.png"
            alt=""
            id="image1"
            class="profile"
          />
        </label>
        <label>
          <input
            type="radio"
            id="profile2"
            name="profile"
            value="\assets\Ellipse -2.png"
            required
            ngModel
          />
          <img
            src="\assets\Ellipse -2.png"
            alt=""
            id="image2"
            class="profile"
          />
        </label>
        <label>
          <input
            type="radio"
            id="profile3"
            name="profile"
            value="\assets\Ellipse -4.png"
            required
            ngModel
          />
          <img
            src="\assets\Ellipse -4.png"
            alt=""
            id="image3"
            class="profile"
          />
        </label>
        <label>
          <input
            type="radio"
            id="profile4"
            name="profile"
            value="\assets\Ellipse -5.png"
            required
            ngModel
          />
          <img
            src="\assets\Ellipse -5.png"
            alt=""
            id="image4"
            class="profile"
          />
        </label>
      </div>
    </div>
    <div class="row-content">
      <label for="gender" class="label text">Gender</label>
      <div>
        <input
          type="radio"
          id="male"
          name="gender"
          value="male"
          checked
          [ngModel]="gender"
        />
        <label for="male" class="text">Male</label>
        <input
          type="radio"
          id="female"
          name="gender"
          value="female"
          ngModel
          checked
        />
        <label for="female" class="text">Female</label>
      </div>
    </div>
    <div class="row-content">
      <label for="department" class="label text">Department</label>
      <div>
        <div class="inline" *ngFor="let item of departmentsList">
          <input
            type="checkbox"
            [value]="item"
            [name]="item"
            (change)="getDepartment(item)"
          /><Label>{{ item }}</Label>
        </div>
      </div>
    </div>
    <div class="row-content">
      <label for="salary" class="label text">Choose your salary:</label>
      <input
        type="range"
        class="input"
        name="salary"
        id="salary"
        min="300000"
        max="500000"
        step="100"
        [(ngModel)]="obj.salary"
      />
      <output class="salary-output text" for="salary">{{ obj.salary }}</output>
    </div>
    <div class="row-content">
      <label for="startDate" class="label text">Start Date</label>
      <div>
        <select name="Day" id="day" [(ngModel)]="day">
          <option value="obj.day" disabled>{{ obj.day }}</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select name="Month" id="month" [(ngModel)]="month">
          <option value="" disabled>month</option>
          <option value="Janaury">Janaury</option>
          <option value="Febuary">Febuary</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
        <select name="Year" id="year" [(ngModel)]="year">
          <option value="0" disabled>year</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
        </select>
      </div>
    </div>
    <div class="row-content">
      <label for="notes" class="label text">Notes</label>
      <textarea
        name="Notes"
        id="notes"
        class="input"
        placeholder=""
        style="height: 100px"
        [(ngModel)]="obj.note"
      ></textarea>
    </div>
    <div class="buttonParent">
      <a href="\pages\home.html" class="resetButton button cancelButton"
        >Cancel</a
      >
      <div class="submit-reset">
        <button type="submit" class="button submitButton" id="submitButton">
          submit
        </button>
        <button type="reset" class="resetButton button">Reset</button>
      </div>
    </div>
  </form>
</div>
